@use '../../../../../styles/helper';
@use '../../../../../styles/layout';
@use '../../../../../styles/color';
@use '../../../../../styles/animation';

:host {
    @extend .dF-row-cc;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(246, 247, 248, 0.5);
    z-index: 5;
}

.content {
    @extend .dF-row-cc;
    height: 592px;
}

.left-side {
    @extend .dF-column-ai-fs;
    width: 467px;
    height: 100%;
    padding: 0 48px;
    border-radius: 30px 0 0 30px;
    background-color: color.$main-color;
}

.logo {
    width: 55px;
    margin-bottom: 12px;
}

h5 {
    margin-top: 8px;
    background-image: linear-gradient(color.$hover-light-blue);
    background-position: bottom left;
    background-size: 90px 3px;
    background-repeat: no-repeat;
    padding-bottom: 16px;
}

.right-side {
    @extend .dF-row-cc;
    gap: 72px;
    width: 745px;
    height: 100%;
    padding: 48px 48px 48px 83px;
    border-radius: 0 30px 30px 0;
    background-color: white;
}

.person-icon {
    @extend .dF-row-cc;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: color.$form-gray;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.10));

    > img {
        width: 43px;
        height: 43px;
    }
}

.form-container {
    @extend .dF-column-jc-fs-ai-fe;
    height: 100%;
    flex: 1;
}

.close-icon {
    width: 32px;
    height: 32px;
    padding: 2px;
    border-radius: 50%;
    margin-bottom: 110px;

    &:hover {
        cursor: pointer;
        background-color: color.$icon-hover-gray;
    }
}

.contact-form {
    @extend .dF-column-fs;
    gap: 48px;
    width: 100%;
}

.input-wrapper {
    @extend .dF-column-fs;
    gap: 32px;
    width: 100%;
}

.btn-container {
    @extend .dF-jc-fs;
    gap: 24px;
}
