@use '../../../../styles/helper';
@use '../../../../styles/color';
@use '../../../../styles/layout';
@use '../../../../styles/typography';

:host {
    @extend .host;
}

.content-wrapper {
    @extend .dF-column-cc;
    height: 100%;
    flex: 1;
    position: relative;
}

app-header {
    @extend .dF-jc-fs;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.10);
}

.main-content {
    @extend .dF-column-fs;
    gap: 56px;
    width: 100%;
    flex: 1;
    padding: 110px 0 0 96px;
}

h2, h3 {
    color: black;
}

.title-container {
    @extend .dF-row-cc;
    gap: 30px;
}

.title-separator {
    width: 3px;
    height: 56px;
    background-color: color.$hover-light-blue;
}

.title-text {
    @extend .font-style-4;
}

.content-container {
    @extend .dF-row-cc;
    gap: 80px;
}

.key-metrics-container {
    @extend .dF-column-cc;
    gap: 28px;
    width: 560px;
}

.first-row, .middle-row, .last-row {
    @extend .dF-row-cc;
    width: 100%;
}

.first-row {
    gap: 32px;
}

.last-row {
    gap: 28px;
}

.rectangle-style {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.10);
    flex: 1;
    transition: all 80ms ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: color.$main-color;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

        h2, span {
            color: white;
        }

        .first-row-icon {
            background-color: white;

            path {
                fill: color.$main-color;
            }
        }
    }

    &:active {
        background-color: #F9F9F9;

        h2 {
            color: black;
        }

        span {
            color: color.$main-color;
        }

        .first-row-icon {
            background-color: color.$main-color;

            path {
                fill: white;
            }
        }
    }
}

.first-row-rectangle {
    @extend .dF-row-cc;
    gap: 18px;
    padding: 33.5px 0;
}

.first-row-icon {
    width: 69px;
    height: 69px;
    padding: 18.5px;
    background-color: color.$main-color;
    border-radius: 50%;

    path {
        fill: white;
    }
}

.done-icon {
    padding: 8px;
}

.middle-row {
    padding: 33px 0;
}

.urgent-icon {
    width: 60px;
    height: 60px;
    padding: 13px;
    background-color: color.$urgent-red;
    border-radius: 50%;
    margin-right: 18px;
}

.urgent-separator {
    width: 2px;
    height: 102px;
    background-color: color.$form-gray;
    margin-right: 61px;
    margin-left: 61px;
}

.deadline-container {
    @extend .dF-column-ai-fs;
    gap: 13px;
}

.last-row-rectangle {
    @extend .dF-column-cc;
    padding: 21.5px 0;

    > span {
        text-align: center;
    }
}

.greeting-container {
    @extend .dF-column-ai-fs;
    gap: 3px;
}

h1 {
    color: color.$hover-light-blue;
}
