@if (type == 'login') {
    <header class="login-header">
        <img class="login-logo" src="icon/logo_dark.svg" alt="logo">
        <div class="signup-container">
            <span>Not a Join User?</span>
            <button routerLink="signup" class="btn-1-prim">Sign up</button>
        </div>
    </header>
} @else if (type == 'signup') {
    <header class="login-header">
        <img class="login-logo" src="icon/logo_dark.svg" alt="logo">
    </header>
} @else if (type == 'main') {
    <header class="main-header">
        <img class="mobile-logo" src="icon/logo_dark.svg" alt="logo">
        <span class="header-title">Kanban Project Management Tool</span>
        <div class="help-container">
            <img class="icon-help" src="icon/help.svg" alt="help">
            <div (click)="toggleOverlay($event)" class="initials">SM</div>

            @if (overlayVisible) {
                <div class="overlay">
                    <span routerLink="">Help</span>
                    <span routerLink="">Privacy policy</span>
                    <span routerLink="">Imprint</span>
                    <span>Log out</span>
                </div>
            }
        </div>
    </header>
}
