@if (task) {
    <div class="card">
        <span class="card-category m-btm-24">{{ task.category }}</span>
        <span class="card-title m-btm-8">{{ task.title }}</span>
        <p class="card-description m-btm-24">{{ task.description }}</p>
        <div class="card-subtasks-container m-btm-24">
            <div class="progress-bar">
                <div class="bar-of-progress" [ngStyle]="{'width': (getSubtasksDone(task) / task.subtasks.length * 100) + '%'}"></div>
            </div>
            <div class="subtask">{{ getSubtasksDone(task) }}/{{ task.subtasks.length }} Subtasks</div>
        </div>
        <div class="card-contacts-prio-container">
            <div class="contacts-container">
                @for (contact of task.contacts; track $index) {
                    @if ($index < 4) {
                        <div class="card-contact">{{ getInitials(contact) }}</div>
                    }
                }
                @if (task.contacts.length > 4) {
                    <div class="remaining-contacts">+{{ task.contacts.length - 4 }}</div>
                }
            </div>
            <img class="card-prio-icon" src="icon/{{ task.priority }}.svg" alt="priority">
        </div>
    </div>
} @else {
    <div class="empty-card">No tasks {{ column }}</div>
}
