@use '../../../../../styles/helper';
@use '../../../../../styles/animation';
@use '../../../../../styles/variable';
@use '../../../../../styles/color';

:host {
    @extend .host;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.logo {
    width: variable.$logo-start-width;
    height: variable.$logo-start-height;
    animation: moveTopLeft variable.$intro-animation-config, shrinkLogo variable.$intro-animation-config;
}

// -------------------------- Responsive Design --------------------------- \\
@media(max-width: 1024px) {
    // :host {
    //     background-color: color.$main-color;
    // }

    .logo {
        width: variable.$logo-mobile-start-width;
        height: variable.$logo-mobile-start-height;
    }
}
