@use '../../../../../styles/helper';
@use '../../../../../styles/animation';
@use '../../../../../styles/variable';

:host {
    @extend .host;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.logo {
    width: 274px;
    height: 334px;
    animation: moveTopLeft variable.$intro-animation-config, shrinkLogo variable.$intro-animation-config;
}
