@use '../../../../../styles/helper';
@use '../../../../../styles/color';
@use '../../../../../styles/layout';
@use '../../../../../styles/distance';
@use '../../../../../styles/typography';
@use '../../../../../styles/animation';
@use '../../../../../styles/variable';

:host {
    @extend .dF-column-cc;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(246, 247, 248, 0.5);
}

.active-task-content {
    @extend .dF-column-ai-fs;
    gap: 24px;
    width: 525px;
    background-color: white;
    padding: 48px 40px;
    border-radius: 30px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);

    > * {
        width: 100%;
    }
}

.fly-in-animation {
    transform: translateX(100vw);
    animation: flyIn variable.$flyin-animation-config;
}

.fly-out-animation {
    animation: flyOut variable.$flyout-animation-config;
}

.active-task-category {
    @extend .font-style-5;
    color: white;
    padding: 4px 24px;
    border-radius: 8px;
}

.close-icon {
    width: 32px;
    height: 32px;
    padding: 2px;
    border-radius: 50%;

    &:hover {
        cursor: pointer;
        background-color: color.$icon-hover-gray;
    }
}

.prio-icon {
    width: 20px;
}

.contact-overflow-wrapper {
    @extend .dF-column-fs;
    gap: 4px;
    width: 100%;
    max-height: 176px;
    overflow-y: auto;
}

.active-task-contact {
    @extend .dF-jc-fs;
    gap: 16px;
    padding: 7px 16px;
}

.initials {
    @extend .dF-row-cc;
    @extend .font-style-10;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
}

.subtask-overflow-wrapper {
    @extend .dF-column-fs;
    gap: 4px;
    width: 100%;
    max-height: 76px;
    overflow-y: auto;
}

.active-task-subtask {
    @extend .dF-jc-fs;
    gap: 16px;
    padding: 6px 16px;
    border-radius: 10px;
    transition: all 100ms ease-out;

    &:hover {
        cursor: default;
        background-color: color.$icon-hover-gray;
    }
}

.checkbox {
    width: 24px;
    height: 24px;
    border-radius: 50%;

    &:hover {
        cursor: pointer;
        background-color: color.$form-gray;
    }
}

.active-task-button-container {
    @extend .dF-jc-fe;
    gap: 8px;
}

.active-task-icon-container {
    @extend .dF-row-cc;
    gap: 8px;

    > svg {
        width: 24px;
        height: 24px;

        path {
            fill: color.$main-color;
        }
    }

    > span {
        @extend .font-style-9;
    }

    &:hover {
        cursor: pointer;

        > svg path {
            fill: color.$hover-light-blue;
        }

        > span {
            color: color.$hover-light-blue;
            font-weight: 700;
        }
    }
}

.button-separator {
    width: 1px;
    height: 24px;
    background-color: color.$form-gray;
}

.edit-task-overflow-wrapper {
    @extend .dF-column-ai-fs;
    gap: 24px;
    overflow-y: auto;

    > * {
        width: 100%;
    }
}

