@use '../../../../styles/helper';
@use '../../../../styles/color';
@use '../../../../styles/layout';
@use '../../../../styles/distance';

:host {
    @extend .host;
    position: relative;
}

.headline-container {
    @extend .dF-jc-sb;
    width: 100%;

    > img {
        width: 32px;
        height: 32px;
        border-radius: 50%;

        &:hover {
            cursor: pointer;
            background-color: color.$icon-hover-gray;
            scale: 1.1;
        }
    }

    > .spacer {
        width: 32px;
    }
}

h3 {
    color: black;
    background-image: linear-gradient(color.$hover-light-blue);
    background-position: bottom center;
    background-size: 150px 3px;
    background-repeat: no-repeat;
    padding-bottom: 16px
}

.input-container {
    @extend .dF-column-cc;
    width: 100%;
}

input[type="submit"]:disabled {
    background-color: color.$icon-gray;
    cursor: default;
    box-shadow: unset;
}
