@use '../../../../styles/helper';
@use '../../../../styles/color';
@use '../../../../styles/layout';
@use '../../../../styles/distance';

:host {
    @extend .host;
    position: relative;
}

app-header {
    @extend .dF-row-cc;
    top: 60px;
}

.headline-container {
    @extend .dF-jc-sb;
    width: 100%;

    > img {
        width: 32px;
        height: 32px;
        border-radius: 50%;

        &:hover {
            cursor: pointer;
            background-color: color.$icon-hover-gray;
            scale: 1.1;
        }
    }

    > .spacer {
        width: 32px;
    }
}

h3 {
    color: black;
    background-image: linear-gradient(color.$hover-light-blue);
    background-position: bottom center;
    background-size: 150px 3px;
    background-repeat: no-repeat;
    padding-bottom: 16px
}

.input-container {
    @extend .dF-column-cc;
    width: 100%;
}

.privacy-policy-container {
    @extend .dF-row-cc;
    gap: 8px;

    &:hover > img {
        background-color: color.$icon-hover-gray;
    }

    > img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        cursor: pointer;
    }

    > p {
        @extend .font-style-9;
        color: color.$form-icon-gray;

        > span {
            @extend .font-style-9;
            color: color.$hover-light-blue;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}

input[type="submit"]:disabled {
    background-color: color.$form-icon-gray;
    cursor: default;
    box-shadow: unset;
}
