@use '../styles/color';
@use '../styles/typography';
@use '../styles/layout';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    @extend .font-style-7;
    color: color.$main-color;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: color.$main-color;
    border-radius: 4px;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    @extend .font-style-0;
    color: color.$hover-light-blue;
}

h2 {
    @extend .font-style-1;
    color: black;
}

h3 {
    @extend .font-style-2;
    color: black;
}

h4 {
    @extend .font-style-3;
}

h5 {
    @extend .font-style-4;
}

.content-wrapper {
    @extend .dF-column-cc;
    height: 100%;
    flex: 1;
    position: relative;
}

.main-content {
    @extend .dF-column-fs;
    gap: 56px;
    width: 100%;
    flex: 1;
    padding: 110px 0 0 96px;
}

.red-color {
    color: color.$error-red;
}
