@use '../styles/color';
@use '../styles/typography';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    @extend .font-style-7;
    color: color.$main-color;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: color.$main-color;
    border-radius: 4px;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: auto;
    // overflow-x: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    @extend .font-style-0;
}

h2 {
    @extend .font-style-1;
}

h3 {
    @extend .font-style-2;
}

h4 {
    @extend .font-style-3;
}

h5 {
    @extend .font-style-4;
}
