@use '../styles/color';
@use '../styles/typography';
@use '../styles/layout';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    @extend .font-style-7;
    color: color.$main-color;
}

html, body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: color.$click-blue;
    border-radius: 4px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-position: inside;
}

h1 {
    @extend .font-style-0;
    color: color.$hover-light-blue;
}

h2 {
    @extend .font-style-1;
    color: black;
}

h3 {
    @extend .font-style-2;
    color: black;
}

h4 {
    @extend .font-style-3;
}

h5 {
    @extend .font-style-4;
}

.content-wrapper {
    @extend .dF-column-cc;
    height: 100%;
    flex: 1;
    position: relative;
}

.main-content {
    @extend .dF-column-fs;
    gap: 56px;
    width: 100%;
    flex: 1;
    padding: 110px 0 0 96px;
}

.red-color {
    color: color.$error-red;
}

button[type="submit"]:disabled {
    background-color: color.$form-icon-gray;
    box-shadow: unset;

    &:hover, &:active {
        cursor: default;
        background-color: color.$form-icon-gray;
        border: unset;
        box-shadow: unset;
    }
}

// -------------------------- Responsive Design --------------------------- \\
@media(max-width: 1500px) {
    .main-content {
        padding: 48px 16px 0 48px;
    }
}

@media(max-width: 1300px) {
    .main-content {
        padding-left: 24px;
    }
}

@media(max-width: 1024px) {
    h2 {
        font-size: 47px;
    }
    
    .content-wrapper {
        height: 100vh;
        height: 100svh;
        width: 100%;
        flex: unset;
        padding-bottom: 80px;
    }

    .main-content {
        align-items: center;
        padding: 48px 16px 16px 16px;
        gap: 40px;
        overflow-y: auto;
    }
}

@media(max-width: 500px) {
    * {
        font-size: 18px;
    }
    
    h3 {
        font-size: 47px;
    }

    h5 {
        font-size: 20px;
    }

    .main-content {
        align-items: flex-start;
    }
}
