@use '../../../../styles/helper';
@use '../../../../styles/color';
@use '../../../../styles/layout';
@use '../../../../styles/variable';
@use '../../../../styles/distance';
@use '../../../../styles/typography';

:host {
    @extend .host;
    position: relative;
}

app-header {
    @extend .dF-jc-fs;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.10);
}

.headline-container {
    @extend .dF-jc-sb;
    width: 100%;
    max-width: calc(1920px - 96px - variable.$sidenav-width);
    padding-right: 40px;
}

.search-container {
    @extend .dF-row-cc;
    gap: 32px;
}

.search-input-style {
    @extend .general-input-style;
    @extend .dF-row-cc;
    gap: 10px;
    border: 1px solid color.$form-icon-gray;
    padding: 8px 16px;
    width: 312px;

    > input {
        width: 0;
        flex: 1;

        &::placeholder {
            color: color.$form-gray;
        }
    }
}

.search-separator {
    width: 1px;
    height: 31px;
    background-color: color.$form-gray;
}

.search-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;

    path {
        fill: color.$main-color;
    }

    &:hover {
        cursor: pointer;
        background-color: color.$icon-hover-gray;
    }

    &:active {
        background-color: unset;
        path {
                fill: color.$hover-light-blue;
        }
    }
}

.content-container {
    @extend .dF-ai-fs;
    gap: 26px;
    flex: 1
}

.column-style {
    @extend .dF-column-jc-fs;
    gap: 16px;
    width: 252px;
    height: 100%;
}

.column-headline-container {
    @extend .dF-jc-sb;
    width: 100%;
}

.column-title {
    font-weight: 700;
}

.add-task-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;

    rect, path {
        stroke: color.$main-color;
    }

    &:hover rect, &:hover path {
        stroke: color.$hover-light-blue;
    }

    &:active rect, &:active path {
        stroke: color.$click-blue;
    }
}

.cards-container {
    @extend .dF-column-jc-fs;
    gap: 16px;
    width: 100%;
    flex: 1;
}

.app-card {
    cursor: pointer;
    transform-origin: bottom left;
    transition: all 200ms ease-out;

    &:active {
        transform: rotate(5deg);
    }
}
