@use '../../../../styles/helper';
@use '../../../../styles/color';
@use '../../../../styles/layout';
@use '../../../../styles/variable';
@use '../../../../styles/distance';
@use '../../../../styles/typography';

:host {
    @extend .host;
    position: relative;
}

app-header {
    @extend .dF-jc-fs;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.10);
}

.headline-container {
    @extend .dF-jc-sb;
    width: 100%;
    max-width: calc(1920px - 96px - variable.$sidenav-width);
    padding-right: 40px;
}

.search-container {
    @extend .dF-row-cc;
    gap: 32px;
}

.search-input-style {
    @extend .general-input-style;
    @extend .dF-row-cc;
    gap: 10px;
    border: 1px solid color.$form-icon-gray;
    padding: 8px 16px;
    width: 312px;

    > input {
        width: 0;
        flex: 1;

        &::placeholder {
            color: color.$form-gray;
        }
    }
}

.search-separator {
    width: 1px;
    height: 31px;
    background-color: color.$form-gray;
}

.search-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;

    path {
        fill: color.$main-color;
    }

    &:hover {
        cursor: pointer;
        background-color: color.$icon-hover-gray;
    }

    &:active {
        background-color: unset;
        path {
                fill: color.$hover-light-blue;
        }
    }
}

.content-container {
    @extend .dF-ai-fs;
    gap: 26px;
    flex: 1
}

.column-style {
    @extend .dF-column-jc-fs;
    gap: 16px;
    width: 252px;
    height: 100%;
}

.column-headline-container {
    @extend .dF-jc-sb;
    width: 100%;
}

.column-title {
    font-weight: 700;
}

.add-task-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;

    rect, path {
        stroke: color.$main-color;
    }

    &:hover rect, &:hover path {
        stroke: color.$hover-light-blue;
    }

    &:active rect, &:active path {
        stroke: color.$click-blue;
    }
}

.cards-container {
    @extend .dF-column-jc-fs;
    gap: 16px;
    width: 100%;
    flex: 1;
}

app-card {
    cursor: pointer;
    transform-origin: bottom left;
    transition: all 200ms ease-out;
}

app-card:active {
    transform: rotate(5deg);
}

.active-task-overlay {
    @extend .dF-column-cc;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(246, 247, 248, 0.5);
}

.active-task-content {
    @extend .dF-column-ai-fs;
    gap: 24px;
    width: 525px;
    background-color: white;
    padding: 48px 40px;
    border-radius: 30px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);

    > * {
        width: 100%;
    }
}

.active-task-category {
    @extend .font-style-5;
    color: white;
    padding: 4px 24px;
    border-radius: 8px;
}

.close-icon {
    width: 32px;
    height: 32px;
    padding: 2px;
    border-radius: 50%;

    &:hover {
        cursor: pointer;
        background-color: color.$icon-hover-gray;
    }
}

.prio-icon {
    width: 20px;
}

.active-task-contact {
    @extend .dF-jc-fs;
    gap: 16px;
    padding: 7px 16px;

    &:not(:last-child) {
        margin-bottom: 4px;
    }
}

.initials {
    @extend .dF-row-cc;
    @extend .font-style-10;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: #1FD7C1;
    color: white;
}

.active-task-subtask {
    @extend .dF-jc-fs;
    gap: 16px;
    padding: 6px 16px;
    border-radius: 10px;
    transition: all 100ms ease-out;

    &:hover {
        cursor: default;
        background-color: color.$icon-hover-gray;
    }

    &:not(:last-child) {
        margin-bottom: 4px;
    }
}

.checkbox {
    width: 24px;
    height: 24px;
    border-radius: 50%;

    &:hover {
        cursor: pointer;
        background-color: color.$form-gray;
    }
}

.active-task-button-container {
    @extend .dF-jc-fe;
    gap: 8px;
}

.active-task-icon-container {
    @extend .dF-row-cc;
    gap: 8px;

    > svg {
        width: 24px;
        height: 24px;

        path {
            fill: color.$main-color;
        }
    }

    > span {
        @extend .font-style-9;
    }

    &:hover {
        cursor: pointer;
        
        > svg path {
            fill: color.$hover-light-blue;
        }

        > span {
            color: color.$hover-light-blue;
            font-weight: 700;
        }
    }
}

.button-separator {
    width: 1px;
    height: 24px;
    background-color: color.$form-gray;
}
