$main-color: #2A3647;
$hover-light-blue: #29ABE2;
$hover-dark-blue: #2A3D59;
$click-blue: #091931;
$subtask-blue: #4589FF;
$subtask-gray: #F4F4F4;
$task-gray: #E7E7E7;
$error-red: #FF8190;
$form-red: #FF001F;

$bg-gray: #F6F7F8;
$form-gray: #D1D1D1;
$form-icon-gray: #A8A8A8;
$icon-gray: #CDCDCD;
$icon-hover-gray: #EEEEEE;

$urgent-red: #FF3D00;
$medium-orange: #FFA800;
$low-green: #7AE229;

$cat-blue: #0038FF;
$cat-mint: #1FD7C1;
$cat-red: #ff5365;
