$logo-start-height: 334px;
$logo-end-height: 122px;
$logo-start-width: 274px;
$logo-end-width: 100px;
$position-header: 60px;
$sidenav-width: 232px;

$intro-animation-config: 500ms ease-out 500ms forwards;
$toastmsg-animation-config: 250ms ease-in-out forwards;
