<app-sidenav route="addTask"></app-sidenav>
<div class="content-wrapper">
    <app-header type="main"></app-header>
    <main class="main-content">
        <h3>Add Task</h3>
        <form class="dF-column-jc-sb-ai-fs">
            <section class="content-container">
                <div class="addtask-left">
                    <div class="title-container">
                        <label class="m-btm-8" for="title">Title<span class="red-color">*</span></label>
                        <input class="title-input" type="text" name="title" id="title" placeholder="Enter a title" required>
                        <span class="error-msg m-top-4">This field is required</span>
                    </div>
                    <div class="description-container">

                    </div>
                    <div class="date-container">

                    </div>
                </div>
                <div class="separator"></div>
                <div class="addtask-right"></div>
            </section>
            <section class="bottom-section">

            </section>
        </form>
    </main>
</div>
