<div class="content">
    <img class="logo" src="icon/logo_white.svg" alt="logo">
    <nav class="navigation">
        <div class="option">
            <img src="icon/summary.svg" alt="summary">
            <span>Summary</span>
        </div>
        <div class="option">
            <img src="icon/add_task.svg" alt="add_task">
            <span>Add Task</span>
        </div>
        <div class="option">
            <img src="icon/board.svg" alt="board">
            <span>Board</span>
        </div>
        <div class="option">
            <img src="icon/contact.svg" alt="contact">
            <span>Contact</span>
        </div>
    </nav>
    <div>

    </div>
</div>
